<!DOCTYPE html>
<html>
{% block head%}
    {{ include('AcmeBundleStareStoreBundle:header2.html.twig',{'titulo':'tienda'})}}
{% endblock %}
<body class="common-home">
{% block top %}
    {{ include('AcmeBundleStareStoreBundle:top:top.index.html.twig')}}
{% endblock %}
{% block header%}
    {{ include('AcmeBundleStareStoreBundle:header:header.index.html.twig')}}
{% endblock%}
{% block container%}
    {{ include('AcmeBundleStareStoreBundle:container:container.html.twig',categories)}}
{% endblock%}
{% block body %}
    {{ include('AcmeBundleStareStoreBundle:body:body.store.html.twig',{'store':store,'categoriesP':categoriesP})}}
{% endblock %}
{% block footer%}
    {{ include('AcmeBundleStareStoreBundle:footer:footer.html.twig')}}
{% endblock%}
</body>
</html>