<!DOCTYPE html>
<html>
{% block head%}
    {{ include('AcmeBundleStareStoreBundle:header2.html.twig',{'titulo':name})}}
{% endblock %}
<body class="common-home">
{% block top %}
    {{ include('AcmeBundleStareStoreBundle:top:top.user.html.twig')}}
{% endblock %}
{% block header%}
    {{ include('AcmeBundleStareStoreBundle:header:header.user.html.twig')}}
{% endblock%}
{% block container%}
    {{ include('AcmeBundleStareStoreBundle:container:container.html.twig',categories)}}
{% endblock%}
{% block body %}
    {{ include('AcmeBundleStareStoreBundle:body:body.category.html.twig',{'category':category,'products':products})}}
{% endblock %}
{% block footer%}
    {{ include('AcmeBundleStareStoreBundle:footer:footer.html.twig')}}
{% endblock%}
</body>
</html>