<head>
<meta charset="UTF-8" />
<title>{{titulo}}</title>
<base href="http://192.168.1.8/Analisis2_Proyecto/web/app.php/index"/>
<meta name="description" content="Centro comercial" />
{#
<link rel="stylesheet" type="text/css" href="{{base_dir}}/view/stylesheet/stylesheet-antiguo.css" />
<link rel="stylesheet" type="text/css" href="{{base_dir}}/view/stylesheet/slideshow.css" media="screen">
<script type="text/javascript" src="{{base_dir}}/view/javascript/jquery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{base_dir}}/view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{base_dir}}/view/javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" />
<script type="text/javascript" src="{{base_dir}}/view/javascript/common.js"></script>
<script type="text/javascript" src="{{base_dir}}/view/javascript/jquery/jquery.cycle.js"></script>
<script type="text/javascript" src="{{base_dir}}/view/javascript/jquery/nivo-slider/jquery.nivo.slider.pack.js"></script>
<script language="JavaScript" type="text/javascript">
function Abrir_ventana (pagina) {
var opciones="toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=300,height=300,top=85,left=140";
window.open(pagina,"",opciones);
}
</script>
#}

<link href="http://zerocart.byethost9.com/zmaxcart/image/catalog/cart.png" rel="icon" />
<link href="http://zerocart.byethost9.com/zmaxcart/index.php?route=product/category&amp;path=18_46" rel="canonical" />
<script src="{{base_dir}}/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="{{base_dir}}/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="{{base_dir}}/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="{{base_dir}}/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="{{base_dir}}/view/stylesheet/stylesheet.css" rel="stylesheet">
<link href="{{base_dir}}/view/javascript/jquery/owl-carousel/owl.carousel.css" type="text/css" rel="stylesheet" media="screen" />
<link href="{{base_dir}}/view/javascript/jquery/owl-carousel/owl.transitions.css" type="text/css" rel="stylesheet" media="screen" />
<script src="{{base_dir}}/view/javascript/common.js" type="text/javascript"></script>
<script src="{{base_dir}}/view/javascript/jquery/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>

</head>