<div class="wrap_header">
<div id="header">
  <div id="logo"><a href="{{base_url}}/index"><img src="{{ asset('image/data/zMaxcart.png') }}" title="Tu tienda" alt="Tu tienda" /></a></div>
  {#<?php if($tipousuario == 3){ ?>
<!--  ---------------- carrito en el menu--------------------->
  <div id="cart">
      <div class="heading">
          <h4>Carrito</h4>
          <a><span id="cart-total">0 item(s) - $0.00</span></a>
      </div>

      <div class="content">
          <div class="empty">Tu carrito esta vacio!</div>
      </div>
  </div>
  <?php } ?>#}
<!--  ------------------ Buscar ---------------------------------------->
  <div id="search">
    <div class="button-search"></div>
    <input type="text" name="search" placeholder="Buscar" value="" />
  </div>
<!-------------------------------- frase de bienvenida ------------------------->
  <div id="welcome">
      {#<?php if($nombre != null) {?>
      Bienvenido <?php echo $nombre ?>!!!
      <?php } else { ?>#}
     Bienvenido visitante puedes <a href="{{base_url}}/login">entrar</a> o <a href="{{base_url}}/register-user">crear una cuenta</a>.      
      {#<?php } ?>#}
  </div>
<!--  --------------------------------- menu superior -------------------------------------->
  {#<div class="links">#}
      {#<?php if($tipousuario == 3){ ?>
      <a href="http://localhost/MIA_Proyecto2/index.php">Home</a>
      <a href="#" id="wishlist-total">wish list(0)</a>
      <a href="#">Mi cuenta</a>
      <a href="http://localhost/MIA_Proyecto2/showcart.php">Carrito</a>
      <a href="_logout.php">Salir</a>
      <?php } else if($tipousuario == 1) {?>
      <a href="http://localhost/MIA_Proyecto2/index.php">Home</a>
      <a href="http://localhost/MIA_Proyecto2/registersuperusuario.php">SuperUsuario</a>
      <a href="http://localhost/MIA_Proyecto2/registeradministrador.php">Administrador</a>
      <a href="http://localhost/MIA_Proyecto2/registertienda.php">Tienda</a>
      <a href="http://localhost/MIA_Proyecto2/registercategoria.php">Categoria</a>
      <a href="_logout.php">Salir</a>
      <?php } else if($tipousuario == 2) {?>#}
      {#<a href="http://localhost/MIA_Proyecto2/index.php">Home</a>
      <a href="#">Tienda</a>
      <a href="http://localhost/MIA_Proyecto2/registerProducto.php">Producto</a>
      <a href="http://localhost/MIA_Proyecto2/registercategoriaproducto.php">Categoria</a>
      <a href="#">Mi cuenta</a>
      <a href="{{base_url}}/logout">Salir</a>#}
      {#<?php } ?>#}
  {#</div>#}
</div>
</div><!--end wrap_header-->
