<!DOCTYPE html>
<html>
{% block header %}
    {{ include('AcmeBundleStareStoreBundle:header.html.twig',{'titulo':'Registro Tienda'})}}
{% endblock %}
<body>
<div class="wrap_body">
<div class="wrap_body2">
<div id="container">
{% block menu %}
    {{ include('AcmeBundleStareStoreBundle:menu:menu.owner.html.twig',{'name':'admin'})}}
{% endblock %}
{% block categories %}
    {{include('AcmeBundleStareStoreBundle:categories.html.twig')}}
{% endblock %}
<div id="notification"></div>
<div class="wrap_content">
{#<?php
    include("template/common/column_right.php");
    ColumnRightMenu("tienda");
?>#}

    <div id="content">  
        <div class="breadcrumb">
            <a href="#">Home</a>
            &raquo; <a href="#">Producto</a>
            &raquo; <a href="#">Registro</a>
        </div>
        <h1>Registro de producto</h1>
        <form action="{{base_url}}/register/product" method="post" enctype="multipart/form-data">
            <h2>Datos del producto</h2>
            <div class="content">
                <table class="form">
                    <tr>
                        <td><span class="required">*</span> Codigo:</td>
                        <td><input type="text" name="codigo" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Nombre:</td>
                        <td><input type="text" name="nombre" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Descripcion:</td>
                        <td><textarea type="" name="descripcion" value=""></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Precio:</td>
                        <td><input type="text" name="precio" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Cantidad:</td>
                        <td><input type="text" name="cantidad" value="0" />
                        </td>
                    </tr>
                </table>
            </div>
            <h2>Imagenes</h2>
            <div class="content">
                <table class="form">
                    <tr>
                        <td><span class="required">*</span> Item:</td>
                        <td><input type="file" name="imagen" multiple/>
                        </td>
                    </tr>
                </table>
            </div>
            <h2>Administracion</h2>
            <div class="content">
                <table class="form">
                    <tr>
                        <td><span class="required">*</span> Tienda:</td>
                        <td><input type="text" name="tienda" value="" />
                            {#
                            <select name="tienda">
                                <option value="0">Tiendas...</option>
                                <?php
                                $consultaSQL = select("select id_tienda,nombre from tienda where estado = 1 and id_administrador = $id_administrador",$conexion);
                                while(($resultado = oci_fetch_array($consultaSQL)) != null){
                                    echo "<option value = \"$resultado[0]\">$resultado[1]</option>";
                                }
                                ?>
                            </select>
                            #}
                        </td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Categoria:</td>
                        <td><input type="text" name="categoria" value="" />
                            {#
                            <select name="categoria">
                                <option value="0">Categorias...</option>
                                <?php
                                $consultaSQL = select("select id_categoriaproducto,nombre from categoriaproducto",$conexion);
                                while(($resultado = oci_fetch_array($consultaSQL)) != null){
                                    echo "<option value = \"$resultado[0]\">$resultado[1]</option>";
                                }
                                ?>
                            </select>
                            #}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="buttons">
                <div class="right">
                    <input type="submit" value="Continuar" class="button" />
                </div>
            </div>
        </form>
    </div>    
    
</div>
{% block footer%}
    {{ include('AcmeBundleStareStoreBundle:footer.html.twig')}}
{% endblock%}
</div>
</div>
</div>
</body>
</html>
