<div class="row">
{% for category in categoriesP %}
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image">
        <a href=""><img src="{{asset(category.imagen)}}" alt="{{category.nombre}}&quot;" title="{{category.nombre}}&quot;" class="img-responsive"></a>
      </div>
      <div>
        <div class="caption">
          <h4><a href="{{base_url}}/category/{{category.id}}">{{category.nombre}}</a></h4>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
  <div class="clearfix visible-lg"></div>
  <div class="clearfix visible-lg"></div>
  <div class="clearfix visible-lg"></div>
</div>